h1{
  text-align: center;
  text-decoration: underline;
}
h2{
  text-align: center;
  color:Green;
}
#details{
  text-align: right;
  text-transform: inherit;
}
a.link{
  color:red;
}
#p1{
  color:red;
}
